/*************
MISC
*************/
#gallery-paragraph{
    padding: 0px;
    font-size: 1.3em;
    color: black;
    text-align: center;
}

#gallery {
    width: 80%;
    margin: 0 auto;
}

#gallery h1 {
    text-align: center;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
}

.slide img {
    max-height: 625px;
    width: auto;
    display: block;
    margin: 0 auto;
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: black;
    background-color: #D6C8BA;
    padding: 10px;
    z-index: 10;
}

#prev {
    left: 35%;
}

#next {
    right: 35%;
}

/**********************************
            HEADER
 ***********************************/

header {
    text-align: center;
    background-color: #eee6d9;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
    font-family: "Source Sans Pro", sans-serif;
}

.header-left h2 {
    margin-bottom: 0;
}

.header-left h3 {
    margin-top: 0;
}

.header-left {
    text-align: left;
}
.header-center {
    text-align: center;
}
.header-right {
    text-align: right;
    text-underline: none;
    padding-right: 20px;
    color: black;
}

.header-right a {
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 14px;
}
.header-right a:last-child {
    margin-right: 0;
}

#main-title {
    text-align: left; 
    margin: 20px 0; 
    max-width: none; 
}

body {
    font-family: Poppins, sans-serif;
    background-color: #f8f0e3;
    margin: 0;
    padding: 0;
}

/****** CONTENT ************/

#content {
    background-color: #f8f0e3;
    padding: 0;
    border-radius: 10px;
    width: 45%;
    margin: 20px auto;
}

.about-content {
    background-color: #f8f0e3;
    padding: 0;
    border-radius: 10px;
    width: 35%;
    margin: 100px auto;
}

.connect {
    padding-bottom: 8px;
    text-decoration: underline;
    transition: transform 0.5s ease;
}

.connect:hover {
    font-weight: bold;
    transform: translateY(-3px);
}

.about-paragraph {
    font-size: 16px;
}

#about-head {
    background-color: #f8f0e3;
    padding: 0;
    font-size: 16px;
    margin: 15px 0;
    text-align: center;
}

.main-paragraph-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    background-color: #f8f0e3;
    border-radius: 10px;
    padding: 15px;
}

.main-paragraph {
    flex: 1;
    font-size: 1em;
    text-align: left;
    margin: 0 0;
    padding-bottom: 5px;
    max-width: 100%;
}

.main-paragraph-blog {
    flex: 1;
    font-size: 1em;
    text-align: left;
    margin: 0 0;
    padding-bottom: 0;
    max-width: 100%;
}

a {
    color: black;
    text-underline: none;
    text-decoration: none;
}

.main-paragraph-blog a {
    color: black;
    font-weight: bold;
    transition: transform 0.5s ease;
}

.main-paragraph-blog a:hover {
    transform: translateY(-3px);
    text-decoration: underline;
}

.main-paragraph-head {
    flex: 1;
    font-size: 1.4em;
    text-align: left;
    margin: 0 0;
    padding-bottom: 5px;
    max-width: 100%;
}

.paragraph-box {
    flex: 1;
    background-color: #ffffff;
    margin: auto auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    max-width: 350px;
}

.title-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: black;
}

.title-date > div {
    text-align: right;
    display: block;
}

.paragraph-box-blog {
    width: 90%;
    padding: 20px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}

#main-title {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

#sub-title {
    font-size: 18px;
    margin: 12px 0;
    font-weight: normal;
    text-align: center;
    padding-bottom: 10px;
}

#content-block center {
    font-weight: normal;
}


/***********************
BLOG
 *****************/

.blog-content {
    background-color: #f8f0e3;
    padding: 0;
    border-radius: 10px;
    width: 35%;
    margin: 100px auto;
}

.blog-content h1 {
    text-align: center;
    padding-bottom: 20px;
}

.blog-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    max-width: 95%;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.blog-box:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    transform: translateY(-7px);
}

.blog-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.blog-details {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.blog-picture {
    flex: 1;
    max-width: 150px;
}

.blog-title, .blog-date, .blog-type {
    margin: 0;
}

.blog-date, .blog-type {
    display: block;
}

.blogPAGE-date {
    font-size: 14px;
    color: gray;
}

.blog-post {
    transition: transform 0.5s ease;
}

.blog-post h3 {
    margin: 0 0;
}

.blog-post:hover{
    background-color: #eee6d9;
    border-radius: 30px;
}

.blog-type {
    background-color: lightgray;
    padding: 2px 4px;
    border-radius: 4px;
}

.blog-title {
    margin: 0;
    flex-grow: 1;
}

.blog-date, .blog-type {
    display: block;
    color: black;
}

.blog-type {
    font-size: smaller;
    background-color: lightgray;
    padding: 2px 4px;
    border-radius: 4px;
    display: inline-block;
}


.blog-date {
    margin-bottom: 2px;
}

.blog-details {
    flex: 3;
    text-align: left;
}

.blog-picture {
    flex: 1;
    text-align: right;
    padding-left: 20px;
}

.blog-picture img {
    width: 100%;
    height: auto;
    max-width: 150px;
}

.blog-summary {
    font-size: 18px;
    padding-top: 0;
}

.blog-hub {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.blog-entry {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #ffffff;
}

.blog-date {
    font-size: 16px;
    color: #555;
    margin: 0;
}

.blog-title {
    font-size: 22px;
    margin: 10px 0;
}

/**********************
FOOTER
*******************/

footer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f8f0e3;
    text-align: center;
}